/* Fonts */

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: local("PT Sans"),
       url("../fonts/PTSans.woff2") format("woff2"),
       url("../fonts/PTSans.woff") format("woff");
}
  
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: local("PT Sans"),
        url("../fonts/PTSans-Bold.woff2") format("woff2"),
        url("../fonts/PTSans-Bold.woff") format("woff");
}


  /* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-dark: #666666;
  --basic-neutral: #A9A9A9;
  --basic-neutral-bg: #EEEEEE;
  --basic-extra-light: #CACACA;
  --basic-light: #BDBBBC;
  --basic-white: #ffffff;

  --basic-bg: #F2F2F2;
  --basic-bg-hover: #EBEBEB;
  --basic-bg-active: #E5E5E5;

  --accent: #81B3D2;
  --accent-hover: #669EC0;
  --accent-active: #5496BD;

  --special: #766357;
  --special-hover: #604E43;
  --special-active: #503E33;

}

  /* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  text-transform: uppercase;
  background-color: var(--basic-bg);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.d_none {
  display: none;
}

.main-header .header-logo {
  background-color: var(--basic-light);
  background: var(--basic-light) url("../img/main-header.jpg") no-repeat center center;
  background-size: cover;
}

/* Main navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--accent);
}
.site-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.header-logo {
  position: relative;
  text-align: center;
}

.header-logo::after {
  content: '';
  position: absolute;
  height: 57px;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/header-shape.svg") no-repeat left bottom;
}

/* Features */

.features {
  background-color: var(--basic-white);
}

.features .subtitle {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.features .description {
  line-height: 26px;
  text-align: center;
}

.feature {
  text-align: center;
  background-color: var(--accent);
  color: var(--basic-white);
}

.feature .heading {
  font-size: 21px;  
}

.features-infrastructure .features-list {
  list-style: none;
}

.features-infrastructure .features-item {
  text-align: center;
}

.features-list .heading {
  font-size: 21px;
  font-weight: 700;
  color: var(--basic-black);
}

.features-rest {
  background-color: var(--basic-neutral-bg);
}

.features-rest-list {
  list-style: none;
}

.features-rest-item {
  text-align: center;
}

.features-rest-item .title {
  font-size: 21px;
  font-weight: 700;
  color: var(--basic-black);
}

/* Appointment */

.appointment {
  text-align: center;
  background-color: var(--basic-white);
}

.appointment .heading {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  color: var(--basic-black);
}

.appointment .button {
  margin: 0;
  padding: 0;
  border: none;  
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--special);
  cursor: pointer;
}

.appointment .button:hover {
  background-color: var(--special-hover);
}

.appointment .button:active {
  background-color: var(--special-active);
}

/* Footer */

.main-footer {
  background-color: var(--basic-white);
  text-align: center;
}

.footer-contacts .footer-info {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.footer-info .footer-phone {
  font: inherit;
  color: inherit;
  text-transform: inherit;
}

.footer-social .social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer .footer-copyright {
  line-height: 26px;
  color: var(--basic-black);
}